@use 'variables' as *;

.footer {
  width: 100%;
  margin: 0;
  padding: 0.7rem 0 0.7rem 0;
  color: $primary-color;
  background-color: $secondary-color;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 0.6rem;

  div {
    text-align: center;
  }
}