@use 'variables' as *;
@use 'animated-link';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  color: $text-strong-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  font-weight: 700;

  .mobile-nav-link {
      display: none;
      padding: 0 1rem;
    }
    
  @media(width < $media-size){
      .pc-nav-link {
        display: none;
      }
      .mobile-nav-link {
        display: inline;
        
         a {
          font-size: 2rem;
        }
      }
  }
  
  a {
    font-size: 1.4rem;
  }

  &.blurred {
    backdrop-filter: blur(15px);
  }

  .name {
    min-width: fit-content;
    padding: 0 1rem;
  }
  
  .nav {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 0 1rem;

    .mobile-nav-link {
      display: none;
    }

    @media(width < $media-size){
      .pc-nav-link {
        display: none;
      }
      .mobile-nav-link {
        display: inline;
        a {
          font-size: 2rem;
        }
      }
    }
  }
}

