@use 'variables' as *;

.content{
    display: flex;
    flex-direction: column;
    gap: 16px;

    .name {
        font-weight: 800;
    }

    .stars {
        font-size: 2rem;
    }

    .additional-info {
        align-items: center;
        width: 100%;
    }

     @media(width < $media-size) {
        .stars {
            font-size: 1.5rem;
        }

        .additional-info {
            text-align: center;
            width: 100%;
        }
    }
}