@use 'variables' as *;

.content{
    display: flex;
    flex-direction: column;
    gap: 16px;

    .name {
        font-weight: 800;
    }

    .stars {
        font-size: 2rem;
    }

    .additional-info {
        text-align: justify;
        width: 100%;
    }

    .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;

        div::after {
            content: ",";
            margin-left: 0.1rem;
        }

        div:last-child::after {
            content: "";
        }
    }

     @media(width < $media-size) {
        .stars {
            font-size: 1.5rem;
        }

        .additional-info {
            text-align: center;
            width: 100%;
        }
    }
}