@use 'variables' as *;

.icon {
    height: 4rem;
    width: 4rem;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
    transition: all $animation ease;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0.1rem;
        width: 100%;
        pointer-events: none;
    }

    &::after {
        background-color: $text-strong-color; 
        transform: translate3d(-110%, 0, 0);
        opacity: 1;
        transition: transform $animation ease;
    }

    &:hover::after {
        transform: translate3d(0, 0, 0);
    }

    img {
        height: 4rem;
        width: 4rem;
    }

    @media(width < $media-size) {
        height: 3.4rem;
        width: 3.4rem;

        img {
            height: 3.4rem;
            width: 3.4rem;
        }
    }
}
