@use 'variables' as *;

.content{
    display: flex;
    flex-direction: column;
    gap: 16px;

    .name {
        font-weight: 800;
    }

    .stars {
        font-size: 2rem;
    }

    .additional-info {
        text-align: justify;
        width: 100%;
    }

     @media(width < $media-size) {
        .stars {
            font-size: 1rem;
        }
    }
}